{shell, [
  {apps, [erlang_aaa]}
]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.3.0"}}},
  {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.1"}}}
]}.

{profiles, [
  {default,
    [
      {erl_opts,
        [
          debug_info,
          warn_missing_spec,
          warning_as_errors
      ]}
    ]
  },
  {test,
    [
      {deps, [
        {gun, {git, "https://github.com/ninenines/gun.git", {tag, "1.0.0-pre.5"}}}
      ]}
    ]
  }]
}.